$brand-primary:         darken(#681866, 6.5%);
$brand-secondary:       darken(#ac98b3, 5%);
//** Danger label background color
$label-secondary-bg:             $brand-secondary;

$font-family-sans-serif:  Trajan;

$font-size-base:          15px !default;